*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "menu/menu.scss";
@import "sections/section01.scss";
@import "sections/section02.scss";
@import "sections/section03.scss";
@import "footer/footer.scss";