$colorTitles:hsl(237, 23%, 32%);
$text: hsl(207, 13%, 34%);
$font1:'Overpass';
$font2:'Ubuntun';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&family=Ubuntu:wght@300&display=swap');

.sectionTwo{
    height: 400px;
    border-radius: 0 90px 0 90px;
    background-color: hsl(235, 23%, 31%);
    background-image: url('/images/bg-pattern-circles.svg');
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: -500px;
    display: flex;
    align-items: center;
}
.sectionTwoTitle{
    color: white;
    font-size: 30px;
    font-family: $font1;
}
.sectionTwoParagraph{
    color: white;
    font-family: $font2;
}
@media(max-width:900px){
    .sectionTwoTitle{
        color: white;
        font-size: 25px;
    }
    .sectionTwo{
        height: 350px;
    }
    .phonesImg{
        height: 500px;
    }
}
@media(max-width:800px){
    .sectionTwoTitle{
        color: white;
        font-size: 25px;
    }
    .sectionTwo{
        height: 250px;
    }
    .phonesImg{
        height: 400px;
    }
}
@media(max-width: 575px){
    .sectionTwoTitle{
        color: white;
        font-size: 18px;
    }
    .sectionTwo{
        flex-direction: column;
        height: 450px;
        background-size: 600px;
        background-position-x: 0px;
        background-position-y: -200px;
        text-align: center;
    }
    .phonesImg{
        height: 300px;
    }
}
@media(max-width:330px){
    .sectionTwoTitle{
        color: white;
        font-size: 18px;
    }
        .phonesImg{
            height: 240px;
        }
}